# paths
alias wrk="cd $HOME/work"
alias p="wrk && boom_all/pro"
alias a="wrk && boom_all/api"
alias c="wrk && boom_crm"
alias ds="wrk && Deploy-Scripts"

# docker
alias dfl="wrk && dockerfiles"
alias dce="dfl && docker compose exec"
alias dcep="dfl && docker compose exec pro-web"
alias db:start="dfl && docker-compose -f docker-compose-mariadb.yml up"

# rails
alias db:migrate="dcep ./bin/rails db:migrate"
alias db:test:migrate="dcep ./bin/rails RAILS_ENV=test db:migrate"

alias r="echo 'rails' && ./bin/rails"
alias rt="echo 'rails in test ENV' && RAILS_ENV=test ./bin/rails"
alias t="echo 'rails test' && ./bin/rails test"

# git
alias gps="git push"
alias gst="git status"
alias gpl="git pull"
alias gco="git checkout"

# deploy scripts
alias db_host="db_host_name"
alias app_host="app_host_name"

db_host_name ()
{
  current_dir=`pwd`
  ds && thor domain:db_host $1
  cd $current_dir
}

app_host_name ()
{
  current_dir=`pwd`
  ds && thor domain:app_host $1
  cd $current_dir
}
