# paths
alias p="cd ~/work/boom_all/pro"
alias a="cd ~/work/boom_all/api"
alias c="cd ~/work/boom_crm"
alias ds="cd ~/work/Deploy-Scripts"

# rails
alias migrate="rake db:migrate && rake db:rollback && rake db:migrate && rake db:test:prepare"
alias prepare="bundle install && rake db:migrate && rake db:test:prepare"
alias u="rm -f log/*.log && unicorn -c config/unicorn.rb"
alias us="rm -f log/*.log && unicorn -c config/unicorn_subserver.rb"
alias usd="rm -f log/*.log && unicorn -c config/unicorn_subserver.rb -D"

alias rss="r s | grep -B 4 -A 4 '#D'"

alias r="echo 'rails' && bin/rails"
alias rt="echo 'rails in test ENV' && RAILS_ENV=test bin/rails"
alias t="echo 'rails test' && rails test"

# git
alias gps="git push"
alias gst="git status"
alias gpl="git pull"
alias gco="git checkout"
